


<div class="container" ng-app="app.login" ng-controller="LoginController">
    <div > 
        <form name="form" class="m-t" role="form" ng-submit="login()">
            <h2 class="h1">Please sign in</h2>
         
            <input type="text" ng-model="username" class="form-control" placeholder="Username" required autofocus>
            <input type="password" ng-model="password" class="form-control" placeholder="Password" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>   
</div>
    <div>
        <a ui-sref="signUp" class="btn btn-link">Register</a>
    </div>
</div> <!-- /container -->

